<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Question</legend>

    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :category, ["programming", "culture", "backend", "frontend", "design", "startup & founding", "social" ] %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sub_category, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :sub_category, ["algorithms", "api", "bash", "C", "couchdb","css", "culture", "data", "encoding", "flash", "graphics", "haskell", "html","http","javascript", "php", "python","rails","ruby","regex" ] %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :nerd_level, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :nerd_level, ['1','2','3','4', '5'] %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :text, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :text, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :a1, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :a1, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :a2, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :a2, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :a3, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :a3, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :a4, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :a4, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :right_answer, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :right_answer, ['a1','a2','a3','a4'] %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :creator, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :creator, :class => 'text_field', :value => current_user.name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :creator_twitter, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :creator_twitter, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :creator_github, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :creator_github, :class => 'text_field', :value => current_user.login %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', questions_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
