<div class="clearfix" id="container">
  <div id="wrapper">
    <div class="view-container">
      <div class="display">
        <div id="view-login" style="display: block;">
          <h2>Questionizer</h2>
          <table>
            <th>Category</th>
            <th>Sub Category</th>
            <th>User</th>
            <th>Status</th>
            <th>Actions</th>                                                
            <% @questions.each do |question| %>
              <tr>
                <td><%= question.category %>,</td>
                <td><%= question.sub_category %> by</td>
                <td><strong><%= question.user.name || question.user.login %></strong></td>
                <td>
                  <% if question.accepted_at? %>
                    Accepted at <%= question.accepted_at %>
                  <% elsif question.rejected_at? %>
                    Rejected at <%= question.rejected_at %>
                  <% else %>
                    <%= button_to "Accept", { :action => "accept", :id => question.id }, :method => :put, :class => "btn btn-primary" %><%= button_to "Reject", { :action => "reject", :id => question.id }, :method => :put, :class => "btn btn-primary" %>
                  <% end %>
                </td>
                <td><%= link_to "Show", question_path(question), :class=> 'btn' %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="display-overlay"></div>
        <div class="display-gradient"></div>
      </div>
    </div>
  </div>
</div>
