<!DOCTYPE html>
<html>
<head>
  <title>NerdpursuitFrontend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to(image_tag("logo.png"), root_url) %>
  </div>
  <p id="notice"><%= notice %></p>
  <%= yield %>
  <br/>
  <div id="footer" class="clearfix">
    <img id="madeby" src="/assets/madeby.png">
  </div>
</body>
</html>
